<template>
  <div class="flex flex-col text-green-400 w-6/12">
    <div v-if="isLoading" class="absolute inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center">
      <Vue3Lottie :animationData="animatedData" :height="200" :width="200" />
    </div>
    <h2 class="text-3xl font-bold mb-10">Contactez-moi <span class="cursor"></span></h2>
    <form ref="form" @submit.prevent="submitForm">
      <div class="mb-5">
        <label class="block mb-2" for="name">Nom et prénom</label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name" name="name" v-model="name" type="text" placeholder="Votre nom ..." required>
      </div>

      <div class="mb-5">
        <label class="block mb-2" for="email">Email</label>
        <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" name="email" v-model="email" type="email" placeholder="Votre email ..." required>
      </div>

      <div class="mb-5">
        <label class="block mb-2" for="message">Message</label>
        <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            cols="30" rows="5" id="message" name="message" v-model="message" placeholder="Message ..."
            required></textarea>
      </div>

      <div class="mb-5">
        <vue-recaptcha
            theme="dark"
            size="normal"
            :tabindex="0"
            @widgetId="recaptchaWidget = $event"
            @verify="onVerify($event)"
            @expired="callbackExpired()"
            @fail="callbackFail()"
        />
      </div>

      <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit">Envoyer
      </button>
    </form>
  </div>
</template>

<script>
import { ref } from 'vue'
import emailjs from '@emailjs/browser'
import { useToast } from 'vue-toastification'
import { VueRecaptcha, useRecaptcha } from "vue3-recaptcha-v2";
import { Vue3Lottie } from 'vue3-lottie'
import animationData from '@/assets/lottie/spinner.json';

export default {
  components: {
    VueRecaptcha,
    Vue3Lottie
  },
  setup() {
    const name = ref('')
    const email = ref('')
    const message = ref('')
    const form = ref(null)
    const toast = useToast()
    const recaptchaResponse = ref('')
    const { resetRecaptcha } = useRecaptcha();
    const recaptchaWidget = ref(null);
    const isLoading = ref(false);
    const userId = process.env.VUE_APP_EMAILJS_USER_ID
    const serviceId = process.env.VUE_APP_EMAILSJS_SERVICE_ID
    const templateId = process.env.VUE_APP_EMAILJS_SERVICE_TEMPLATEID
    const siteKey = process.env.VUE_APP_CAPTCHA_KEY
    const animatedData = animationData

    const actionReset = () => {
      resetRecaptcha(recaptchaWidget.value);
    };

    const callbackExpired = () => {
      console.log("expired!");
    };

    const submitForm = async () => {
      if (!recaptchaResponse.value) {
        toast.error('Veuillez compléter le reCAPTCHA.');
        return;
      }

      isLoading.value = true;
      try {
        await emailjs.sendForm(serviceId, templateId, form.value, userId);
        toast.success('Votre message a bien été envoyé.');
        // Reset form field
        name.value = '';
        email.value = '';
        message.value = '';
        actionReset();
      } catch (error) {
        toast.error(error);
      } finally {
        isLoading.value = false;
      }
    }

    const onVerify = (response) => {
      if (response) {
        recaptchaResponse.value = response;
      }
    }

    return { name, email, message, form, submitForm, onVerify, siteKey, recaptchaResponse, actionReset, callbackExpired, recaptchaWidget, isLoading, animatedData }
  }
}
</script>
